extends layout

block content
  #masthead
    p.masthead-title 
      a#g G
      a#e e
      a#a a.
      a#k k
      a#y y
    p.masthead-info Lebanese Open Source Initiative.
  hr
  #apps
    p
      a(href='http://loss-dashboard.herokuapp.com/') ) 

