@font-face {
  font-family: 'chunkfive';
  src: url('/fonts/Chunkfive.otf');
  font-weight: 200;
}
@font-face {
  font-family: 'modernpics';
  src: url('/fonts/modernpics.otf');
  font-weight: 200;
}
@font-face {
  font-family: 'telopone';
  src: url('/fonts/telopone.ttf');
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('/images/fabric.png');
}

a {
  color: #00B7FF;
}

#masthead {
  text-align: center;
  color: #EEE;
  cursor: pointer;
}
#masthead .masthead-title {
  font-family: 'telopone';
  text-align: center;
  font-size: 64px;
  letter-spacing: 3px;
  text-shadow: 0px 2px 5px #222;
  text-decoration: none;
}
#masthead .masthead-info {
  margin-top: -50px;
  font-size: 17px;
  text-shadow: 0px 1px 5px #000;
  letter-spacing: 0px;
}
#masthead p.masthead-title a#g { color: #ff4500; }
#masthead p.masthead-title a#e { color: #ff9000; }
#masthead p.masthead-title a#a { color: #e20048; }
#masthead p.masthead-title a#k { color: #057d9f; }
#masthead p.masthead-title a#y { color: #f00; }

hr {
  margin-top: 20px;
  width: 260px;
  color: #222;
}

#apps {
  font-family: 'modernpics';
  text-align: center;
}
#apps p {
  margin-top: 40px;
}
#apps a {
  cursor: pointer;
  font-size: 100px;
  // color: #bbb;
  color: #555;
  // text-shadow: 0px 1px 5px #000;
  text-shadow: 0px 1px 0px rgba(22, 22, 22, 1);
  text-decoration: none;
}
#apps a:hover {
  color: #eef;
  text-shadow: 0px 1px 0px #000;
}
